1ra_Parte/Trabajo_Investigacion_Forense_Evidencia_Digital/
1ra_Parte/Trabajo_Investigacion_Grupo_1/
1ra_Parte/DisableUSBWrite.zip
1ra_Parte/EnableUSBWrite.zip
3ra_Parte/Trabajo_Final.docx

# Archivos temporales de bloqueo de Word/Office
~$*
